@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap');
/* Général */
body{
    background-image: repeating-linear-gradient(135deg, rgb(93,93,93, 0.1) 0px, rgba(93,93,93, 0.1) 2px, transparent 2px, transparent 4px), linear-gradient(90deg, #bcaaa4, #bcaaa4);
}
h1, h2{
    font-family: 'Goudy Bookletter 1911', serif;
    color: #443f3d;
}
p{
    font-family: 'Libre Caslon Text', serif;
}
marquee{
    font-family: 'Libre Caslon Text', serif;
    font-size: 20px;
}
/* Header */
.header{
    width: auto ;
    height: 105px;
    background-color: #8c7b75;
    margin: 0;
    margin-bottom: 11px;
}
.logo-site-header{
    width: 9vw;
    height: auto;
    transform: translate(25px);
}
/* Class */
#video-acceuil{
    position: relative;
}
/* Button Acceuil*/
.btn-acceuil{
    position: absolute;
    bottom: 10%;
    left: 46.5%;
    -webkit-transform: scale(1.25);
	transform: scale(1.25);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.btn-acceuil:hover{
    -webkit-transform: scale(1);
    transform: scale(1);
}
/* Bouton Page Acceuil Article */
.btn-art{
    height: 8vh;
}
.btn-art{
    background: 
       linear-gradient(-45deg, transparent calc(100%/3), rgba(0, 0, 0, 0.5), transparent calc(200%/3)) 
       bottom right/350% 100% no-repeat;
    transition: 0.5s linear, background-size 0s 0.5s;
    -webkit-transform: scale(1.25);
	transform: scale(1.25);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.btn-art:hover{
    -webkit-transform: scale(1);
    transform: scale(1);
    background-position: bottom left;
    background-size: 0 0;
}
/* LINK Article */
.link-art {
    background: 
       linear-gradient(90deg, currentColor 50%, transparent 0) 
       0 100%/200% 3px repeat-x;
    transition: 99999s linear;
}
.link-art:hover {
    background-position: 8000px 100%;
    transition: 30s;
}
/* CLASS */
.anim-img{
	-webkit-filter: sepia(100%);
	filter: sepia(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.anim-img:hover{
	-webkit-filter: sepia(0);
	filter: sepia(0);
}
/* DIV */
/* TheBeginning */
#thebeginning{
    font-size: 90px;
    text-decoration: underline overline #efdcd5;
    color: rgb(160, 19, 19);
    font-weight: bold;
    font-family: Brush Script Std;
    display: flex;
    justify-content: center;
    transform: translate(0, -300%);
    animation-duration: 3s;
    animation-name: slidein;
    animation-direction: alternate;
}
/* row */
.row{
    margin-top: 130px;
}
/* ID */
#art-elvis{
    background-color: #9ea7aa;
    border-radius: 25px;
    border: solid 5px #cfd8dc;
    height: 25vh;
}
#art-tiff{
    background-color: #cfd8dc;
    border-radius: 25px;
    border: solid 5px #9ea7aa;
    height: 25vh;
}
#recap-art{
    background-color: #d7ccc8;
    border-radius: 25px;
    border: solid 5px #efdcd5;
    transform: translate(0, -50%);
}
/* Footer */
.footer{
    width: 100%;
    height: auto;
    background-color:#efdcd5;
    margin: 0;
    margin-top: 9px;
    text-align: center;
    padding-top: 40px;
}
.logo-site-footer{
    width: 6vw;
    height: auto;
    transform: translate(65px, -30px);
}
/* Keyframes */
@keyframes slidein {
    from {
      margin-left:100%;
      width:300%
    }
  
    to {
      margin-left:0%;
      width:100%;
    }
  }
  /* media querry */
@media (min-width: 1030px){
    body{
        height: 100vh;
    }
    .logo-site-header{
        width: 9.5vw;
        height: auto;
    }
    .btn-acceuil{
        width: 13vw;
        position: absolute;
        bottom: 40%;
        left: 45%;
    }
    #video-acceuil{
        margin-top: 150px;
        height: 71vh;
    }
    #recap-art{
        height: 220px;
    }
}
@media (max-width: 1025px){
    body{
        height: 100vh;
    }
    .logo-site-header{
        width: 15vw;
        height: auto;
    }
    .btn-acceuil{
        width: 13vw;
        position: absolute;
        bottom: 40%;
        left: 45%;
    }
    #video-acceuil{
        margin-top: 150px;
        height: 71vh;
    }
}
@media (max-width: 800px){
    #thebeginning{
        font-size: 50px;
        transform: translate(0, -450px);
    }
    .btn-acceuil{
        position: absolute;
        left: 35%;
        bottom: 50%;
    }
}
@media (max-width: 768px) {
    #recap-art{
        height: 20vh;
        position: absolute;
        top: 78%;
        left: 25%;
    }
      #art-tiff{
          height: 20vh;
          margin-left: 40px;
    }
      #art-elvis{
          height: 25vh;
          margin-left: 40px;
    }
      .logo-site-header{
        width: 20vw;
        height: auto;
    }
    .logo-site-footer{
            width: 9vw;
            height: auto;
    }
      .anim-img{
          margin-right: 15px;
    }
      .p-art{
          margin-left: 5px;
    }
    .logo-site-header{
        width: 20vw;
        height: auto;
    }
    .logo-site-footer{
        width: 10vw;
        height: auto;
        margin-left: 10px
    } 
    #thebeginning{
        font-size: 70px;
        transform: translate(0, -450px);
    }
    .btn-acceuil{
        width: 15vh;
        position: absolute;
        left: 42.5%;
        bottom: 5%;
    }
    #video-acceuil{
        margin-top: 150px;
    }
    .footer{
        margin-top: 280px;
    }
}
@media (max-width: 550px){
    .logo-site-header{
        width: 23vh;
    }
    .logo-site-footer{
        margin-left: 0px;
    }
    .p-art{
        font-size: 10px;
    }
    .btn-art{
        font-size: 10px;
    }
    #recap-art{
        width: 80vw;
        position: absolute;
        left: 10%;
        top: 65%;
    }
    .row{
        margin-left: 0px;
        margin-top: 10px;
        margin-right: 0%;

    }
    .logo-site-header{
        width: 28vw;
        height: auto;
    }
    .link-footer{
        font-size: 10px;
    }
    marquee{
        font-size: 10px;
    }
    .logo-site-footer{
        margin-left: 35%;
        width: 6vw;
    }
}
@media (max-width: 420px){
    .p-art{
        font-size: 10px;
    }
    .btn-art{
        font-size: 10px;
    }
    #video-acceuil{
        margin-top: 0%;
    }
    .footer{
        margin-top: 0%;
    }
    .logo-site-footer{
        width: 8vw;
        height: auto;
        margin-left: 30%;
    }
    .btn-acceuil{
        position: absolute;
        left: 35%;
        bottom: 20%;
    }
    #thebeginning{
        transform: translate(0px, -350px); 
        font-size: 50px
    }
    .logo-site-header{
        width: 33vw;
        height: auto;
        margin-top: 20px;
    }
    #art-elvis{
        width: 80vw;
    }
    #art-tiff{
        width: 80vw;
    }
    #recap-art{
        position: absolute;
        top: 85%;
        left: 45px;
    }
    marquee{
        font-size: 10px;
    }
    .link-footer{
        font-size: 10px;
    }
}
@media (max-width: 380px){
    body{
        height: 100vh;
    }
    #recap-art{
        position: absolute;
        top: 90%;
        left: 45px;
        width: 80vw;
    }
    .btn-art{
        font-size: 10px;
    }
    .p-art{
        font-size: 10px;
    }
    .row{
        margin: 0%;
    }
    #art-elvis{
        width: 80vw;
    }
    #art-tiff{
        width: 80vw;
    }
    .link-footer{
        font-size: 9px;
    }
    .link-art{
        margin-left: 0%;
    }
    marquee{
        font-size: 9px;
    }
    .logo-site-footer{
        margin-left: 30%;
    }
    .logo-site-header{
        height: 8vh;
        width: auto;
        margin-top: 20px;
    }
}
@media (max-width:350px){
    body{
        height: 100vh;
    }
    .row{
        margin: 0%;
    }
    #art-elvis{
        margin: 0%;
        height: 30vh;
        width: auto;
    }
    #art-tiff{
        margin: 0%;
        height: 30vh;
        width: auto;
    }
    #recap-art{
        position: absolute;
        top: 550px;
        left: 30px;
        height: 30vh;
    }
    .link-art{
        margin-left: 0%;
    }
    .btn-art{
        font-size: 8px;
    }
    .p-art{
        font-size: 10px;
    }
    marquee{
        font-size: 9px;
    }
    .link-footer{
        font-size: 9px;
    }
    .logo-site-footer{
        height: 3vh;
        width: auto;
        margin-left: 25%;
    }
    .logo-site-header{
        height: 10vh;
        width: auto;
    }
}
@media (max-width:360px){
    #video-acceuil{
        margin-top: 0%;
    }
    .footer{
        margin-top: 0%;
    }
    .logo-site-header{
            width: 36vw;
            height: auto;
        }
    .btn-acceuil{
            position: absolute;
            bottom: 20%;
        }
    #thebeginning{
            font-size: 50px
        }
    }
@media (max-width: 320px){
    #video-acceuil{
        margin-top: 5px;
    }
    .logo-site-footer{
        margin-left: 30%;
        margin-bottom: 0%;
    }
    .btn-acceuil{
        position: absolute;
        left: 30%;
        bottom: 25%;
        width: 23vh;
    }
    #thebeginning{
        transform: translate(0px, -350px); 
    }
    .logo-site-header{
        width: 35vw;
        height: auto;
        margin-top: 30px;
    }
    #thebeginning{
        font-size: 50px
    }
    footer{
        margin-top: 0%;
    }
}